body
{
    margin: 0;
    padding: 0;
    background-color: $near-white;
}

.page
{
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;

    max-width: 1200px;


}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}
