.content
{
    background-color: $near-black;
    padding: 5px;

    .items
    {
        display:inline-flex;
        justify-content: center;
        flex-wrap: wrap;

        .item
        {
            position: relative;
            width: 24%;
            height: auto;
            margin: 5px;
            overflow: hidden;

            @media screen and (max-width: 1080px)
            {
               width: 32%;
            }

            @media screen and (max-width: 800px) {
                width: 48%;
            }

            @media screen and (max-width: 500px) {
                width: 99%;
            }

            a
            {
                h2
                {
                    width: 70%;



                    text-align: center;
                    font-family: $font-stack;
                    font-size: 3em;
                    color: $near-white;

                    position: absolute;
                    margin: 0 auto;

                    left: 0;
                    right: 0;
                    top:5%;

                    z-index: 2;

                    background-color: rgba($near-black,0.75);

                }

                p
                {
                    width: 100%;
                    margin: 0;

                    text-align: center;
                    font-family: $font-stack;
                    color: $near-white;

                    position: absolute;
                    bottom: 5%;

                    z-index: 2;
                }

                img
                {
                    width: 100%;
                    height: auto;
                    z-index: 1;
                }
            }
        }
    }
}
