.footer
{
    width: 100%;
    background-color: $nephritis;
    background-repeat: repeat;
    background-size: cover;

    .nav
    {
        padding-top: 5px;
        padding-bottom: 5px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


        .navitem
        {
            background-color: $near-black;

            padding: 10px;

            width: 100px;
            margin: 5px;

            p
            {
                text-align: center;
                text-decoration: none;
                color: $off-white;
                font-family: $font-stack;

                margin: 0;
            }
        }

        .navitem:hover
        {
            background-color: $emerald;
            p
            {
                color: $off-black;
            }
        }
    }

    .copyright
    {
        margin-top: 0;
        margin-bottom: 0;

        padding-bottom: 5px;

        p
        {
            text-align: center;
            font-style: italic;
            font-size: 0.75em;
            font-family: $font-stack;
            color: $off-black;
            
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
