.header
{
    width: 100%;
    margin-top: 25px;
    background-image: url("/img/header/background.jpg");
    background-repeat: repeat;
    background-size: cover;

    .title
    {
        width: 75%;

        margin: 0 auto;


        padding-top: 0.25em;
        padding-bottom: 0.25em;

        font-size: 6em;
        font-family: $font-stack;
        font-weight: normal;

        text-align: center;
        color: $near-white;
    }
    .subtitle
    {
        width: 75%;

        margin: 0 auto;

        padding-top: 0em;
        padding-bottom: 1em;

        font-size: 0.75em;
        font-family: $font-stack;
        font-weight: normal;
        font-style: italic;

        text-align: center;
        color: $off-white;
    }
}
