$cell-size: 333px;
$cell-margin: 5px;

.cells{
	margin: 0 auto;
	max-width: 4.5*$cell-size;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    .cell{
        width: $cell-size;
        height: $cell-size;

        margin: $cell-margin;

        text-align: center;

        overflow: hidden;

        .links_title{
            position: relative;
            top: -0.975*$cell-size;
            right: 0px;
            bottom: auto;
            left: 0px;

            color: $header-text-color;
            font-size: $default-h2-size;

            width: 75%;
            margin: auto;

            background: rgba(#000,0.75);
        }

        .links_text{
            position: relative;
            top: auto;
            right: 0px;
            bottom: 0.35*$cell-size;
            left: 0px;

            color: $header-text-color;
            font-size: $default-p-size;

            width: 80%;
            margin: auto;
        }

        a{
            &:hover{
                .links_image{
                    transform: scale(1.1);
                }
            }
        }
    }

}

.links_image
{
    width: 100%;
    height: 100%;

    transition: transform 0.2s ease;
}
