
@mixin navbar {
    margin: 0px;

    padding: 0.5% 10%;


    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    background: $background-color;
    li {
        margin-left: 0.5%;
        margin-right: 0.5%;
        background-color: $button-color-normal;

        a{
            text-decoration:none;

			color: $header-text-color;
			div{
				width: 6rem;
				height: 3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				h4{
					vertical-align: middle;
					text-align: center;
				}
			}

        }
        &:hover{
            background-color: $button-color-hover;
        }
    }
}
