{{#about}}

    <div class="page-content">

        {{#sections}}

            <div class="section">
                <h2>{{title}}</h2>
                <p>{{content}}</p>
            </div>

        {{/sections}}

    </div>
    
{{/about}}
