body {
    margin: 0;
    padding: 0;
}

.page {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.header {
    width: 100%;
    background-image: url("/img/header/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.header .title {
    width: 75%;
    margin: 0 auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 6em;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    color: #ecf0f1;
}

.header .subtitle {
    width: 75%;
    margin: 0 auto;
    padding-top: 0em;
    padding-bottom: 1em;
    font-size: 0.75em;
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: #bdc3c7;
}

.footer {
    width: 100%;
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
}

.footer .nav {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .nav .navitem {
    background-color: #27ae60;
    padding: 10px;
    width: 100px;
    margin: 5px;
}

.footer .nav .navitem p {
    text-align: center;
    text-decoration: none;
    color: #bdc3c7;
    margin: 0;
}

.footer .nav .navitem:hover {
    background-color: #2ecc71;
}

.footer .copyright {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    font-family: sans-serif;
    color: #bdc3c7;
}

.footer .copyright p {
    margin-top: 0;
    margin-bottom: 0;
}
