
<div class="page-content files">

    <div class="files-content">

        {{#files}}
        <ul id="top" class="tree">

            {{> filelist}}

        </ul>
        {{/files}}

    </div>
</div>
