[Unit]
Description=zakwest.tech: Zak West's personal web site
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/www.zakwest.tech/
User=wwwzakwestcouk
Group=wwwzakwestcouk
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/npm stop
Restart=always
SyslogIdentifier=zakwest.tech

[Install]
WantedBy=multi-user.target

