<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Zak West</title>
</head>

<body>

    <div class="page">

        {{> page-header}}

        {{{body}}}

        {{> page-footer}}

    </div>

</body>
