mixin item(title,desc,link)
    .item
        a(href="#{link}", target="_blank")
            h2 #{title}
            p #{desc}
            img(src="/img/content/#{title}.svg")

mixin items(titles,descs,links)
    - for (var i = 0; i < titles.length; i++) {
        +item(titles[i],descs[i],links[i])
    - }

.content
    - var titles = ["Blog","Twitter","GitHub","Youtube","LudumDare","LinkedIn","Files"]
    - var descs = ["Read my Blog", "Fork my Repos", "Watch my Videos", "Play my Games", "Veiw my Profile", "Download my Projects"]
    - var links = ["https://blog.zakwest.tech" , "https://www.twitter.com/zwrawr","https://www.github.com/zwrawr","https://www.youtube.com/channel/UC3OG7zVBvAsvJojeH2tVGbg","http://ludumdare.com/compo/author/zwrawr/","https://uk.linkedin.com/in/zakrawest","https://www.zakwest.tech/files"]
    .items
        +items(titles,descs,links)
