mixin item(title,desc,link)
    .item
        a(href="#{link}", target="_blank")
            h2 #{title}
            p #{desc}
            img(src="/img/content/#{title}.svg")

.content
    .items
        +item("Blog","Read my Blog","https://blog.zakwest.tech")
        +item("Twitter","Follow my Twitter","https://www.twitter.com/zwrawr")
        +item("GitHub","Fork my Repos","https://www.github.com/zwrawr")
        +item("YouTube","Watch my Videos","https://www.youtube.com/channel/UC3OG7zVBvAsvJojeH2tVGbg")
        +item("LudumDare","Play my Games","http://ludumdare.com/compo/author/zwrawr/")
        +item("LinkedIn","Veiw my Profile","https://uk.linkedin.com/in/zakrawest")
        +item("Files","Download my Projects","https://www.zakwest.tech/files")
