//output:\Users\Zak\Source\Repos\Website\Website\Built\html\$1.html, pretty:true

doctype

html
    head
        include head.jade

    body
        .page
            include header.jade
            include content.jade
            include footer.jade
