{{#head}}
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<script  async src="/js/menu.js"></script>

	<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

	<meta name="theme-color" content="#2ecc71"/>


	<meta name="Description" content="{{desc}}"/>

	<title>{{title}}</title>
{{/head}}
