
.page-header{
    background-image: url($background-image);
    background-size: cover;

    margin: 0px;

    padding-top: 0.1vh;

    .header-text
    {
        padding-top: 5%;
        padding-bottom: 5%;

        h1{
            font-size: $default-h1-size *3;
            text-align: center;
            color: $header-text-color;
        }

        h3{
            font-family: 'Merriweather', sans;
            font-weight: lighter;
            text-align: center;
            color: $header-text-color;
            letter-spacing: 105%;
        }
    }

    .header-nav
    {
        margin: 0px;
        ul.nav-links{
            @include navbar;
        }
    }
}
