
.page-header{
    background-image: url($background-image);
    background-size: cover;

    margin: 0px;

    padding-top: 0.1vh;

    .header-text
    {
        padding-top: 10%;
        padding-bottom: 10%;

        h1{
            text-align: center;
            color: $header-text-color;
        }

        h4{
            font-family: 'Merriweather', sans;
            font-weight: 400;
            text-align: center;
            color: $header-text-color;
            letter-spacing: 105%;
        }
    }

    .header-nav
    {
        margin: 0px;
        ul.nav-links{
            margin: 0px;

            padding-left: 10%;
            padding-right: 10%;

            display:flex;
            list-style: none;
            align-items: center;
            justify-content: center;

            background: $background-color;
            li {
                display: inline;

                width: auto;
                height: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                margin-left: 0.5%;
                margin-right: 0.5%;

                padding: 1% 2%;
                background-color: $button-color-normal;

                text-align: center;
                a{
                    text-align: center;
                    h3{

                    }
                }
            }
            li:hover{
                background-color: $button-color-hover;
            }
        }
    }
}
