
.page-header{
    background-image: url($background-image);
    background-size: cover;

    margin: 0px;

    padding-top: 0.1vh;

    .header-text
    {
        padding-top: 5%;
        padding-bottom: 5%;

        h1{
            font-size: $default-h1-size *2;
            text-align: center;
            color: $header-text-color;
        }

        h5{
            font-family: $serif-fontstack;
            font-weight: lighter;
            text-align: center;
            color: $header-text-color;
            letter-spacing: 105%;
        }
    }

    #navbar-togglable{
        overflow: hidden;

        .nav-links{
            transition: transform 0.5s ease;
        }
    }
    .toggled-closed .nav-links{
        transform: translateY(100%);
    }
    .toggled-open  .nav-links{
        transform: translateY(0);
    }



    ul.nav-links{
        @include navbar;
    }

    #menu-button{
        $button-size: 40px;
        z-index: 1;

        position: fixed;

        border: #ccc 2px solid;
        border-radius: 2px;

        top:10px;
        right:10px;
        width: $button-size;

        transition: border 0.2s linear 0s;

        &:hover{
            border: #333 2px solid;

            div{
                background-color: #333;
            }
        }

        div{
            width: $button-size*0.8;
            height: $button-size*0.1;
            margin: $button-size*0.15 auto;
            background-color: #ccc;
            border-radius: $button-size*0.1;

            transition: background-color 0.15s linear 0s;
        }
    }
}
