
@mixin navbar {
    margin: 0px;

    padding-left: 10%;
    padding-right: 10%;

    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    background: $background-color;
    li {
        display: inline;

        width: auto;
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 0.5%;
        margin-right: 0.5%;

        padding: 1% 2%;
        background-color: $button-color-normal;

        text-align: center;
        a{
            text-align: center;
            text-decoration:none;

            color: $header-text-color;
            h4{

            }
        }
        &:hover{
            background-color: $button-color-hover;
        }
    }
}
